h1 {
    text-align: center;
}


.view {
    width: 50%;
    text-align: center;
    margin: auto;
}

#captcha-header {
    width: auto;
    text-align: left;
    background-color: #4b90de;
    color: white;
    padding: 6%;
}

#captcha-prompt {
    text-align: left;
    font-weight: bolder;
}


.captcha-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    gap: 1%;
    margin: 0.5% 0%;
    align-items: center;
}

.captcha-row img {
    width: 100%;
    height: auto;
    cursor: pointer;
    z-index: 0;
}

.captcha-row img.selected {
    width: 90%;
    height: auto;
    z-index: 1;
    background-color: #4b90de;
    padding: 5%;
}


.row {
    display: flex;
    align-items: start;
}

.filler {
    flex-grow: 1;
    margin: auto;
}

#attribution-image {
    flex-grow: 1;
}

button {
    background-color: #4b90de;
    color: white;
    border-color: #4b90de;
    font-size: 150%;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-left: 0.5em;
}