h1 {
    text-align: center;
}

div {
    text-align: center;
    margin: auto;
}

#captcha-prompt {
    width: auto;
    text-align: left;
    background-color: #4b90de;
    color: white;
    padding: 2% 5%;
}

#captcha-view {
    width: 50%;
}

.captcha-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1%;
    margin: 0.5% 0%;
    align-items: center;
}

.captcha-row img {
    width: 100%;
    height: auto;
    cursor: pointer;
    z-index: 0;
}

.captcha-row img.selected {
    width: 90%;
    height: auto;
    z-index: 1;
    background-color: #4b90de;
    padding: 5%;
}